# Importing Libraries

In [197]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import torch
import torch.nn as nn
import torch.optim as optim
from torchinfo import summary

# Preprocessing

In [198]:
df = pd.read_csv("titanic_train.csv")
df_test = pd.read_csv("titanic_test.csv")

In [199]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [200]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [201]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [202]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [203]:
df = df.drop(columns=["Name", "PassengerId", "Cabin", "Ticket"])

In [204]:
df["Age"] = df["Age"].fillna(df["Age"].mean())

In [205]:
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

In [206]:
df

     Survived  Pclass     Sex        Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.000000      1      0   7.2500        S
1           1       1  female  38.000000      1      0  71.2833        C
2           1       3  female  26.000000      0      0   7.9250        S
3           1       1  female  35.000000      1      0  53.1000        S
4           0       3    male  35.000000      0      0   8.0500        S
..        ...     ...     ...        ...    ...    ...      ...      ...
886         0       2    male  27.000000      0      0  13.0000        S
887         1       1  female  19.000000      0      0  30.0000        S
888         0       3  female  29.699118      1      2  23.4500        S
889         1       1    male  26.000000      0      0  30.0000        C
890         0       3    male  32.000000      0      0   7.7500        Q

[891 rows x 8 columns]

In [207]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [208]:
df_test = df_test.drop(columns=["Name", "PassengerId", "Cabin", "Ticket"])
df_test["Age"] = df_test["Age"].fillna(df_test["Age"].mean())
df_test["Embarked"] = df_test["Embarked"].fillna(df_test["Embarked"].mode()[0])
df_test["Fare"] = df_test["Fare"].fillna(df_test["Fare"].mean())

In [209]:
df_test

     Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         3    male  34.50000      0      0    7.8292        Q
1         3  female  47.00000      1      0    7.0000        S
2         2    male  62.00000      0      0    9.6875        Q
3         3    male  27.00000      0      0    8.6625        S
4         3  female  22.00000      1      1   12.2875        S
..      ...     ...       ...    ...    ...       ...      ...
413       3    male  30.27259      0      0    8.0500        S
414       1  female  39.00000      0      0  108.9000        C
415       3    male  38.50000      0      0    7.2500        S
416       3    male  30.27259      0      0    8.0500        S
417       3    male  30.27259      1      1   22.3583        C

[418 rows x 7 columns]

In [210]:
df_test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [211]:
df

     Survived  Pclass     Sex        Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.000000      1      0   7.2500        S
1           1       1  female  38.000000      1      0  71.2833        C
2           1       3  female  26.000000      0      0   7.9250        S
3           1       1  female  35.000000      1      0  53.1000        S
4           0       3    male  35.000000      0      0   8.0500        S
..        ...     ...     ...        ...    ...    ...      ...      ...
886         0       2    male  27.000000      0      0  13.0000        S
887         1       1  female  19.000000      0      0  30.0000        S
888         0       3  female  29.699118      1      2  23.4500        S
889         1       1    male  26.000000      0      0  30.0000        C
890         0       3    male  32.000000      0      0   7.7500        Q

[891 rows x 8 columns]

In [212]:
df["Sex"] = df["Sex"].map({
    "male": 1,
    "female": 0
})

In [213]:
df_test["Sex"] = df_test["Sex"].map({
    "male": 1,
    "female": 0
})

In [214]:
df

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare Embarked
0           0       3    1  22.000000      1      0   7.2500        S
1           1       1    0  38.000000      1      0  71.2833        C
2           1       3    0  26.000000      0      0   7.9250        S
3           1       1    0  35.000000      1      0  53.1000        S
4           0       3    1  35.000000      0      0   8.0500        S
..        ...     ...  ...        ...    ...    ...      ...      ...
886         0       2    1  27.000000      0      0  13.0000        S
887         1       1    0  19.000000      0      0  30.0000        S
888         0       3    0  29.699118      1      2  23.4500        S
889         1       1    1  26.000000      0      0  30.0000        C
890         0       3    1  32.000000      0      0   7.7500        Q

[891 rows x 8 columns]

In [215]:
df = pd.get_dummies(df, columns=["Embarked"], dtype=int)
df_test = pd.get_dummies(df_test, columns=["Embarked"], dtype=int)

In [216]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,22.000000,1,0,7.2500,0,0,1
1,1,1,0,38.000000,1,0,71.2833,1,0,0
2,1,3,0,26.000000,0,0,7.9250,0,0,1
3,1,1,0,35.000000,1,0,53.1000,0,0,1
4,0,3,1,35.000000,0,0,8.0500,0,0,1
...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.000000,0,0,13.0000,0,0,1
887,1,1,0,19.000000,0,0,30.0000,0,0,1
888,0,3,0,29.699118,1,2,23.4500,0,0,1
889,1,1,1,26.000000,0,0,30.0000,1,0,0
890,0,3,1,32.000000,0,0,7.7500,0,1,0

In [217]:
df_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,3,1,34.50000,0,0,7.8292,0,1,0
1,3,0,47.00000,1,0,7.0000,0,0,1
2,2,1,62.00000,0,0,9.6875,0,1,0
3,3,1,27.00000,0,0,8.6625,0,0,1
4,3,0,22.00000,1,1,12.2875,0,0,1
...,...,...,...,...,...,...,...,...,...
413,3,1,30.27259,0,0,8.0500,0,0,1
414,1,0,39.00000,0,0,108.9000,1,0,0
415,3,1,38.50000,0,0,7.2500,0,0,1
416,3,1,30.27259,0,0,8.0500,0,0,1
417,3,1,30.27259,1,1,22.3583,1,0,0

In [218]:
x = df.drop("Survived", axis=1).values
y = df["Survived"].values

In [219]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42
)

In [220]:
scaler = StandardScaler()

In [221]:
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [222]:
df_test = scaler.transform(df_test)

C:\Users\Admin\AppData\Local\Programs\Python\Python314\Lib\site-packages\sklearn\utils\validation.py:2684: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [223]:
x_train = torch.from_numpy(x_train).float()
x_test = torch.from_numpy(x_test).float()

y_train = torch.from_numpy(y_train).view(-1, 1).float()
y_test = torch.from_numpy(y_test).view(-1, 1).float()

# Building Neural Network

In [224]:
class TitanicModel(nn.Module):

    def __init__(self, num_feature):
        super(TitanicModel, self).__init__()

        self.network = nn.Sequential(
            nn.Linear(num_feature, 32),
            nn.ReLU(),
            nn.Linear(32, 16),
            nn.ReLU(),
            nn.Linear(16, 1),
            nn.Sigmoid(),
        )

    def forward(self, feature):
        output = self.network(feature)

        return output

In [225]:
model = TitanicModel(x_train.shape[1])

In [226]:
criterion = nn.BCELoss()

In [227]:
optimzer = optim.Adam(model.parameters(), lr=0.001)

In [228]:
epochs = 200

for epoch in range(epochs):
    y_pred = model(x_train)
    loss = criterion(y_pred, y_train)

    optimzer.zero_grad()

    loss.backward()

    optimzer.step()

    with torch.no_grad():
        preds = (model(x_train) > 0.5).float()
        acc = (preds == y_train).sum().item() / y_train.size(0)
    print(f"Epoch : {epoch+1} | Loss : {loss.item():.4f} | Acuuracy : {acc:.4f}")

Epoch : 1 | Loss : 0.6873 | Acuuracy : 0.6110
Epoch : 2 | Loss : 0.6856 | Acuuracy : 0.6362
Epoch : 3 | Loss : 0.6839 | Acuuracy : 0.6461
Epoch : 4 | Loss : 0.6823 | Acuuracy : 0.6601
Epoch : 5 | Loss : 0.6807 | Acuuracy : 0.6685
Epoch : 6 | Loss : 0.6792 | Acuuracy : 0.6671
Epoch : 7 | Loss : 0.6776 | Acuuracy : 0.6671
Epoch : 8 | Loss : 0.6761 | Acuuracy : 0.6728
Epoch : 9 | Loss : 0.6745 | Acuuracy : 0.6713
Epoch : 10 | Loss : 0.6730 | Acuuracy : 0.6756
Epoch : 11 | Loss : 0.6714 | Acuuracy : 0.6756
Epoch : 12 | Loss : 0.6698 | Acuuracy : 0.6770
Epoch : 13 | Loss : 0.6683 | Acuuracy : 0.6798
Epoch : 14 | Loss : 0.6666 | Acuuracy : 0.6826
Epoch : 15 | Loss : 0.6650 | Acuuracy : 0.6882
Epoch : 16 | Loss : 0.6633 | Acuuracy : 0.6882
Epoch : 17 | Loss : 0.6616 | Acuuracy : 0.6980
Epoch : 18 | Loss : 0.6599 | Acuuracy : 0.6980
Epoch : 19 | Loss : 0.6581 | Acuuracy : 0.7022
Epoch : 20 | Loss : 0.6563 | Acuuracy : 0.7037
Epoch : 21 | Loss : 0.6545 | Acuuracy : 0.7065
Epoch : 22 | Loss : 0.6526 | Acuuracy : 0.7065
Epoch : 23 | Loss : 0.6507 | Acuuracy : 0.7093
Epoch : 24 | Loss : 0.6487 | Acuuracy : 0.7093
Epoch : 25 | Loss : 0.6467 | Acuuracy : 0.7135
Epoch : 26 | Loss : 0.6447 | Acuuracy : 0.7121
Epoch : 27 | Loss : 0.6426 | Acuuracy : 0.7177
Epoch : 28 | Loss : 0.6404 | Acuuracy : 0.7219
Epoch : 29 | Loss : 0.6382 | Acuuracy : 0.7289
Epoch : 30 | Loss : 0.6360 | Acuuracy : 0.7317
Epoch : 31 | Loss : 0.6337 | Acuuracy : 0.7360
Epoch : 32 | Loss : 0.6313 | Acuuracy : 0.7374
Epoch : 33 | Loss : 0.6289 | Acuuracy : 0.7416
Epoch : 34 | Loss : 0.6264 | Acuuracy : 0.7458
Epoch : 35 | Loss : 0.6239 | Acuuracy : 0.7444
Epoch : 36 | Loss : 0.6213 | Acuuracy : 0.7500
Epoch : 37 | Loss : 0.6187 | Acuuracy : 0.7514
Epoch : 38 | Loss : 0.6160 | Acuuracy : 0.7570
Epoch : 39 | Loss : 0.6132 | Acuuracy : 0.7584
Epoch : 40 | Loss : 0.6104 | Acuuracy : 0.7640
Epoch : 41 | Loss : 0.6076 | Acuuracy : 0.7669
Epoch : 42 | Loss : 0.6046 | Acuuracy : 0.7669
Epoch : 43 | Loss : 0.6017 | Acuuracy : 0.7697
Epoch : 44 | Loss : 0.5986 | Acuuracy : 0.7697
Epoch : 45 | Loss : 0.5956 | Acuuracy : 0.7697
Epoch : 46 | Loss : 0.5925 | Acuuracy : 0.7711
Epoch : 47 | Loss : 0.5893 | Acuuracy : 0.7711
Epoch : 48 | Loss : 0.5862 | Acuuracy : 0.7753
Epoch : 49 | Loss : 0.5829 | Acuuracy : 0.7809
Epoch : 50 | Loss : 0.5797 | Acuuracy : 0.7837
Epoch : 51 | Loss : 0.5764 | Acuuracy : 0.7865
Epoch : 52 | Loss : 0.5730 | Acuuracy : 0.7865
Epoch : 53 | Loss : 0.5695 | Acuuracy : 0.7907
Epoch : 54 | Loss : 0.5660 | Acuuracy : 0.7921
Epoch : 55 | Loss : 0.5625 | Acuuracy : 0.7935
Epoch : 56 | Loss : 0.5590 | Acuuracy : 0.7949
Epoch : 57 | Loss : 0.5555 | Acuuracy : 0.7935
Epoch : 58 | Loss : 0.5519 | Acuuracy : 0.7963
Epoch : 59 | Loss : 0.5484 | Acuuracy : 0.7963
Epoch : 60 | Loss : 0.5448 | Acuuracy : 0.7949
Epoch : 61 | Loss : 0.5412 | Acuuracy : 0.7949
Epoch : 62 | Loss : 0.5376 | Acuuracy : 0.7978
Epoch : 63 | Loss : 0.5340 | Acuuracy : 0.7963
Epoch : 64 | Loss : 0.5305 | Acuuracy : 0.8048
Epoch : 65 | Loss : 0.5269 | Acuuracy : 0.8062
Epoch : 66 | Loss : 0.5234 | Acuuracy : 0.8048
Epoch : 67 | Loss : 0.5199 | Acuuracy : 0.8034
Epoch : 68 | Loss : 0.5164 | Acuuracy : 0.8020
Epoch : 69 | Loss : 0.5130 | Acuuracy : 0.8104
Epoch : 70 | Loss : 0.5096 | Acuuracy : 0.8076
Epoch : 71 | Loss : 0.5063 | Acuuracy : 0.8076
Epoch : 72 | Loss : 0.5030 | Acuuracy : 0.8076
Epoch : 73 | Loss : 0.4997 | Acuuracy : 0.8076
Epoch : 74 | Loss : 0.4965 | Acuuracy : 0.8076
Epoch : 75 | Loss : 0.4934 | Acuuracy : 0.8048
Epoch : 76 | Loss : 0.4903 | Acuuracy : 0.8048
Epoch : 77 | Loss : 0.4873 | Acuuracy : 0.8048
Epoch : 78 | Loss : 0.4844 | Acuuracy : 0.8048
Epoch : 79 | Loss : 0.4814 | Acuuracy : 0.8034
Epoch : 80 | Loss : 0.4786 | Acuuracy : 0.8020
Epoch : 81 | Loss : 0.4758 | Acuuracy : 0.8020
Epoch : 82 | Loss : 0.4732 | Acuuracy : 0.8020
Epoch : 83 | Loss : 0.4706 | Acuuracy : 0.8020
Epoch : 84 | Loss : 0.4681 | Acuuracy : 0.8076
Epoch : 85 | Loss : 0.4657 | Acuuracy : 0.8090
Epoch : 86 | Loss : 0.4633 | Acuuracy : 0.8090
Epoch : 87 | Loss : 0.4611 | Acuuracy : 0.8090
Epoch : 88 | Loss : 0.4589 | Acuuracy : 0.8090
Epoch : 89 | Loss : 0.4569 | Acuuracy : 0.8118
Epoch : 90 | Loss : 0.4549 | Acuuracy : 0.8118
Epoch : 91 | Loss : 0.4530 | Acuuracy : 0.8118
Epoch : 92 | Loss : 0.4512 | Acuuracy : 0.8118
Epoch : 93 | Loss : 0.4495 | Acuuracy : 0.8104
Epoch : 94 | Loss : 0.4479 | Acuuracy : 0.8090
Epoch : 95 | Loss : 0.4463 | Acuuracy : 0.8076
Epoch : 96 | Loss : 0.4448 | Acuuracy : 0.8090
Epoch : 97 | Loss : 0.4434 | Acuuracy : 0.8104
Epoch : 98 | Loss : 0.4420 | Acuuracy : 0.8146
Epoch : 99 | Loss : 0.4407 | Acuuracy : 0.8132
Epoch : 100 | Loss : 0.4395 | Acuuracy : 0.8146
Epoch : 101 | Loss : 0.4384 | Acuuracy : 0.8146
Epoch : 102 | Loss : 0.4373 | Acuuracy : 0.8160
Epoch : 103 | Loss : 0.4362 | Acuuracy : 0.8174
Epoch : 104 | Loss : 0.4352 | Acuuracy : 0.8174
Epoch : 105 | Loss : 0.4342 | Acuuracy : 0.8216
Epoch : 106 | Loss : 0.4333 | Acuuracy : 0.8202
Epoch : 107 | Loss : 0.4324 | Acuuracy : 0.8202
Epoch : 108 | Loss : 0.4316 | Acuuracy : 0.8188
Epoch : 109 | Loss : 0.4308 | Acuuracy : 0.8202
Epoch : 110 | Loss : 0.4300 | Acuuracy : 0.8188
Epoch : 111 | Loss : 0.4292 | Acuuracy : 0.8188
Epoch : 112 | Loss : 0.4285 | Acuuracy : 0.8188
Epoch : 113 | Loss : 0.4278 | Acuuracy : 0.8202
Epoch : 114 | Loss : 0.4271 | Acuuracy : 0.8202
Epoch : 115 | Loss : 0.4264 | Acuuracy : 0.8202
Epoch : 116 | Loss : 0.4258 | Acuuracy : 0.8202
Epoch : 117 | Loss : 0.4251 | Acuuracy : 0.8188
Epoch : 118 | Loss : 0.4245 | Acuuracy : 0.8188
Epoch : 119 | Loss : 0.4239 | Acuuracy : 0.8188
Epoch : 120 | Loss : 0.4233 | Acuuracy : 0.8188
Epoch : 121 | Loss : 0.4227 | Acuuracy : 0.8188
Epoch : 122 | Loss : 0.4221 | Acuuracy : 0.8174
Epoch : 123 | Loss : 0.4216 | Acuuracy : 0.8174
Epoch : 124 | Loss : 0.4211 | Acuuracy : 0.8202
Epoch : 125 | Loss : 0.4205 | Acuuracy : 0.8230
Epoch : 126 | Loss : 0.4200 | Acuuracy : 0.8230
Epoch : 127 | Loss : 0.4195 | Acuuracy : 0.8230
Epoch : 128 | Loss : 0.4189 | Acuuracy : 0.8230
Epoch : 129 | Loss : 0.4184 | Acuuracy : 0.8244
Epoch : 130 | Loss : 0.4179 | Acuuracy : 0.8244
Epoch : 131 | Loss : 0.4174 | Acuuracy : 0.8244
Epoch : 132 | Loss : 0.4169 | Acuuracy : 0.8258
Epoch : 133 | Loss : 0.4164 | Acuuracy : 0.8258
Epoch : 134 | Loss : 0.4159 | Acuuracy : 0.8272
Epoch : 135 | Loss : 0.4154 | Acuuracy : 0.8272
Epoch : 136 | Loss : 0.4149 | Acuuracy : 0.8272
Epoch : 137 | Loss : 0.4145 | Acuuracy : 0.8272
Epoch : 138 | Loss : 0.4140 | Acuuracy : 0.8272
Epoch : 139 | Loss : 0.4135 | Acuuracy : 0.8272
Epoch : 140 | Loss : 0.4130 | Acuuracy : 0.8244
Epoch : 141 | Loss : 0.4125 | Acuuracy : 0.8258
Epoch : 142 | Loss : 0.4121 | Acuuracy : 0.8258
Epoch : 143 | Loss : 0.4116 | Acuuracy : 0.8258
Epoch : 144 | Loss : 0.4112 | Acuuracy : 0.8258
Epoch : 145 | Loss : 0.4107 | Acuuracy : 0.8258
Epoch : 146 | Loss : 0.4102 | Acuuracy : 0.8258
Epoch : 147 | Loss : 0.4098 | Acuuracy : 0.8272
Epoch : 148 | Loss : 0.4093 | Acuuracy : 0.8272
Epoch : 149 | Loss : 0.4089 | Acuuracy : 0.8272
Epoch : 150 | Loss : 0.4084 | Acuuracy : 0.8272
Epoch : 151 | Loss : 0.4080 | Acuuracy : 0.8272
Epoch : 152 | Loss : 0.4075 | Acuuracy : 0.8272
Epoch : 153 | Loss : 0.4071 | Acuuracy : 0.8272
Epoch : 154 | Loss : 0.4066 | Acuuracy : 0.8272
Epoch : 155 | Loss : 0.4062 | Acuuracy : 0.8272
Epoch : 156 | Loss : 0.4058 | Acuuracy : 0.8258
Epoch : 157 | Loss : 0.4054 | Acuuracy : 0.8258
Epoch : 158 | Loss : 0.4049 | Acuuracy : 0.8272
Epoch : 159 | Loss : 0.4045 | Acuuracy : 0.8272
Epoch : 160 | Loss : 0.4041 | Acuuracy : 0.8272
Epoch : 161 | Loss : 0.4037 | Acuuracy : 0.8301
Epoch : 162 | Loss : 0.4033 | Acuuracy : 0.8301
Epoch : 163 | Loss : 0.4029 | Acuuracy : 0.8301
Epoch : 164 | Loss : 0.4025 | Acuuracy : 0.8301
Epoch : 165 | Loss : 0.4021 | Acuuracy : 0.8301
Epoch : 166 | Loss : 0.4018 | Acuuracy : 0.8301
Epoch : 167 | Loss : 0.4014 | Acuuracy : 0.8301
Epoch : 168 | Loss : 0.4010 | Acuuracy : 0.8301
Epoch : 169 | Loss : 0.4007 | Acuuracy : 0.8301
Epoch : 170 | Loss : 0.4003 | Acuuracy : 0.8315
Epoch : 171 | Loss : 0.3999 | Acuuracy : 0.8301
Epoch : 172 | Loss : 0.3996 | Acuuracy : 0.8301
Epoch : 173 | Loss : 0.3992 | Acuuracy : 0.8315
Epoch : 174 | Loss : 0.3989 | Acuuracy : 0.8329
Epoch : 175 | Loss : 0.3985 | Acuuracy : 0.8329
Epoch : 176 | Loss : 0.3982 | Acuuracy : 0.8329
Epoch : 177 | Loss : 0.3978 | Acuuracy : 0.8329
Epoch : 178 | Loss : 0.3975 | Acuuracy : 0.8329
Epoch : 179 | Loss : 0.3971 | Acuuracy : 0.8343
Epoch : 180 | Loss : 0.3968 | Acuuracy : 0.8329
Epoch : 181 | Loss : 0.3964 | Acuuracy : 0.8329
Epoch : 182 | Loss : 0.3961 | Acuuracy : 0.8357
Epoch : 183 | Loss : 0.3958 | Acuuracy : 0.8357
Epoch : 184 | Loss : 0.3955 | Acuuracy : 0.8357
Epoch : 185 | Loss : 0.3951 | Acuuracy : 0.8371
Epoch : 186 | Loss : 0.3948 | Acuuracy : 0.8343
Epoch : 187 | Loss : 0.3945 | Acuuracy : 0.8357
Epoch : 188 | Loss : 0.3942 | Acuuracy : 0.8357
Epoch : 189 | Loss : 0.3938 | Acuuracy : 0.8357
Epoch : 190 | Loss : 0.3935 | Acuuracy : 0.8357
Epoch : 191 | Loss : 0.3932 | Acuuracy : 0.8371
Epoch : 192 | Loss : 0.3929 | Acuuracy : 0.8371
Epoch : 193 | Loss : 0.3926 | Acuuracy : 0.8371
Epoch : 194 | Loss : 0.3923 | Acuuracy : 0.8385
Epoch : 195 | Loss : 0.3919 | Acuuracy : 0.8385
Epoch : 196 | Loss : 0.3916 | Acuuracy : 0.8385
Epoch : 197 | Loss : 0.3913 | Acuuracy : 0.8385
Epoch : 198 | Loss : 0.3910 | Acuuracy : 0.8385
Epoch : 199 | Loss : 0.3907 | Acuuracy : 0.8427
Epoch : 200 | Loss : 0.3904 | Acuuracy : 0.8427

# Accuracy on x_test

In [229]:
with torch.no_grad():
    predictions = model(x_test)
    predicted = (predictions > 0.5).float()

    accuracy = (predicted == y_test).sum().item() / y_test.size(0)

In [230]:
accuracy

0.8212290502793296

# Prediction on new unseen data

In [231]:
with torch.no_grad():
    final_test_tensor = torch.from_numpy(df_test).float()
    final_predictions = model(final_test_tensor)
    final_predicted_labels = (final_predictions > 0.5).int()

In [232]:
final_predicted_labels

tensor([[0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [1],
        [1],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [1],
        [0],
        [0],
        [1],
        [1],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [1],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [1],
        [1],
        [0],
        [0],
        [1],
        [0],
        [1],
        [1],
        [0],
        [1],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [1],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [0],
        [1],
        [1],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [1],
        [1],
        [1],
        [1],
        [1],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [1],
        [0],
        [1],
        [0],
        [1],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [1],
        [1],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [1],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [1],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [1],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [1],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [0],
        [1],
        [0],
        [0],
        [1],
        [1],
        [0],
        [0],
        [1],
        [0],
        [0],
        [1],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [1],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [1],
        [1],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0]], dtype=torch.int32)

In [233]:
summary(model)

=================================================================
Layer (type:depth-idx)                   Param #
=================================================================
TitanicModel                             --
├─Sequential: 1-1                        --
│    └─Linear: 2-1                       320
│    └─ReLU: 2-2                         --
│    └─Linear: 2-3                       528
│    └─ReLU: 2-4                         --
│    └─Linear: 2-5                       17
│    └─Sigmoid: 2-6                      --
=================================================================
Total params: 865
Trainable params: 865
Non-trainable params: 0
=================================================================

# Prediction

In [234]:
def predict_survival(model, scaler, input_data):
    """
    input_data = list of feature values
    """
    model.eval()

    # Convert to numpy
    input_array = np.array(input_data).reshape(1, -1)

    # Scale input
    input_scaled = scaler.transform(input_array)

    # Convert to tensor
    input_tensor = torch.FloatTensor(input_scaled)

    # Predict
    with torch.no_grad():
        output = model(input_tensor)
        prediction = (output > 0.5).float()

    return int(prediction.item())

In [235]:
'''
Pclass = 3
Age = 22
SibSp = 1
Parch = 0
Fare = 7.25
Sex_male = 1
Embarked_C = 0
Embarked_Q = 0
Embarked_S = 1

'''

'\nPclass = 3\nAge = 22\nSibSp = 1\nParch = 0\nFare = 7.25\nSex_male = 1\nEmbarked_C = 0\nEmbarked_Q = 0\nEmbarked_S = 1\n\n'

In [236]:
sample = [3, 22, 1, 0, 7.25, 1, 0, 0, 1]

result = predict_survival(model, scaler, sample)

print("Survived" if result == 1 else "Did Not Survive")

Did Not Survive

In [237]:
sample = [1, 24, 0, 0, 100, 0, 1, 0, 0]

result = predict_survival(model, scaler, sample)

print("Survived" if result == 1 else "Did Not Survive")

Did Not Survive