In [38]:
from random import shuffle

import pandas as pd
from matplotlib import pyplot as plt

from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, StratifiedKFold, LeaveOneOut, cross_val_score, cross_validate

In [39]:
x, y = load_iris(return_X_y=True)

In [40]:
model = LogisticRegression(max_iter=200)
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
stffold = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
loo = LeaveOneOut()

In [41]:
models = {
    "K-Fold": kfold,
    "Stratified K-Fold": stffold,
    "Leave-One-Out": loo
}

In [42]:
result = []

for name, mod in models.items():
    score = cross_val_score(model, x, y, cv=mod)
    result.append({
        "model": name,
        "cross-val-score": score.mean(),
    })
df = pd.DataFrame(result)

In [43]:
df

               model  cross-val-score
0             K-Fold         0.973333
1  Stratified K-Fold         0.966667
2      Leave-One-Out         0.966667

In [49]:
cv_result = []

for name, mod in models.items():
    score = cross_validate(
    model,
    x,
    y,
    cv=mod,
    scoring={
        "accuracy": "accuracy",
    }
)
    cv_result.append({
        "model": name,
        "Mean CV Score": score["test_accuracy"].mean(),
    })
df = pd.DataFrame(cv_result)

In [50]:
df

               model  Mean CV Score
0             K-Fold       0.973333
1  Stratified K-Fold       0.966667
2      Leave-One-Out       0.966667